## Probabilty Problem

Problem 1.

There are 1000 students who's marks are captured based on their ability in the test. If the same test is given to a new student, what is the probability of getting 50 marks..

In [33]:
from numpy.random import randint as ri
import pandas as pd

In [34]:
#Randomly generating 108 int b/w 30 to 100

marks = ri(30,100,1000)
stu_marks = pd. Series (marks)
stu_marks

0      83
1      61
2      99
3      72
4      63
       ..
995    97
996    52
997    86
998    36
999    55
Length: 1000, dtype: int32

In [35]:
stu_marks.head()

0    83
1    61
2    99
3    72
4    63
dtype: int32

In [36]:
# Let's take mean and standard deviation(std). We need these data to find the probability.

In [37]:
# Mean
marks_mean = stu_marks.mean()
print ('mean marks =',marks_mean)

# Std
marks_std = stu_marks.std()
print ('marks std =' ,marks_std)

mean marks = 63.707
marks std = 20.597218171306462

In [38]:
#what is the probability of a student scoring UPTO 50%
x = 50

#### Probability always between 0-1 and starts from 0

In [39]:
import scipy.stats as st

#When X(data) is given then, use cdf function to find the probabilty of scoring marks upto se (x)

prob=st.norm.cdf(x,loc=marks_mean, scale=marks_std)

print (prob)

0.2528723361398009

In [40]:
# z=(x-mean)/std

score = (x - marks_mean) / marks_std
score

-0.6654782158444544

#### Problem

A car manufacturing company claims mileage of all their cars is 25 kmpl. The population standard deviation is known from the past experience to be 1.5 kmpl. A car rental company wants to test the null hypothesis that the average mileage is at least 25 kmpl. Car rental representative drove 30 cars (samples) of the same company and recorded each car mileage. The average mileage of the sample turned out to be 24.2 kmpl.

Test the null hypothesis?

(HO) Null Hypothesis >= 25

(H1) Alternative Hypothesis < 25

In [41]:
import numpy as np 
mean = 25 
sample_mean = 24.21 
std = 1.5 
n = 30

In [42]:
z = (sample_mean - mean)/ (std/np.sqrt(30))
z

-2.884672136193872

In [43]:
# Using statistics tools


import scipy.stats as st
import numpy as np
p_value = st.norm.cdf (sample_mean,loc=mean,scale=std/np.sqrt(30))
p_value

0.0019591074329942293

#### Important points

• Standard alpha level = 0.05

• If p-value is < 0.05 then we reject null hypothesis (Ho)

• If p-value is > 0.05 then we failed to reject the Ho

**Conclusion:**  As the p-value is less than alpha (0.05), we reject the null hypothesis (mileage >= 25kmpl). Which also means that, all the cars do not give mileage so rental company will not buy the cars.

### Type 1 Error - If Ho is True and you reject Ho

In our example, If average car mileage is really 25 or > 25 kmpl and rental agency rejects it. It's Type 1 error.

### Type 2 Error - If Ho is False and you failed to reject Ho

If Average car mileage is really < 25 kmpl but rental agency buying cars (failed to reject HO). It's Type 2 error.



### Statistical Tools

1. ttest or student's ttest

2. ANOVA

## ttest

**One sample ttest**

**Two sample ttest**

In [44]:
#Conduct ttest when standard deviation is not known.

import pandas as pd
hyp = pd.read_csv(r'C:\Users\SURAJ\Downloads\Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

**A teacher want to teach students for a competative exams. She collected sample of students marks from different schools and based on her past experience she believes that, these type of students will score more than 60 marks in the exams. Now she want to conduct hypothesis test on the marks.**

In [45]:
# Ho= mu >= 60
# Ha = mu < 60

In [46]:
hyp['Math1'].mean()

52.645

In [47]:
alpha = .05
xbar = 52.645
mu= 60

## 1 Sample t test

In [48]:
import scipy.stats as st

# Since we are conducting test for one sample we will go for 1sampal ttest 
st.ttest_1samp (hyp.Math1,mu)

# When you run ttest, we get 2 values 1. t statistics score and 2. pvalue for two tail

#pvalue/2

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [49]:
# Lets write this way 
s,p = st.ttest_1samp(hyp.Math1, mu)

In [50]:
s

-11.102736525713398

In [51]:
p

1.3339158110547646e-22

In [52]:
# for our problem we need to find left tail p value

p/2

6.669579055273823e-23

## 2 sample t test

### Independent sample

### paired sample

In [53]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [54]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [55]:
#How to subset the data on Gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [56]:
# Independent sample
t,p=st.ttest_ind (hyp[hyp['Gender']==1].Math1, hyp [hyp[ 'Gender']==0].Math1)

In [59]:
p

0.6800544974232143

In [62]:
# Paired sample
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)

In [64]:
p

0.17676525605507354

There is an another test which is more than 2 sample t test. But for each t test we allow 5% error (alpha), so if we conduct more than 2 sample t test we are adding 5% more error for each extra sample t test. In order to resolve this problem we go for ANOVA test. L.e. ANalysis Of Variance